#logger>* {
    width: 100%;
    /* margin: 5px; */
    font-weight: 400;
}

#logger .logger-success {
    background: rgb(20, 79, 20);
}

#logger .logger-warning {
    background: rgb(116, 113, 31);
}

#logger .logger-failure {
    background: rgb(97, 20, 20);
}