.body-container {
    display: flex;
    border-bottom: 1px solid;
    width: 100%;
}

.body-container>* {
    width: 50%;
    padding: 10px;
}


.body-container .body-textarea {
    border-right: 1px solid;
}

.body-container textarea {
    resize: none;
    width: 100%;
    height: 100%;
    background: transparent;
    color: var(--color);
    font-family: monospace;
}