.titlebar-container {
    background: var(--gray);
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.titlebar-container .dash {
    border: 1px solid;
    margin: 2px;
    width: calc(var(--font-size));
}

.titlebar-container .menu {
    padding: 5px;
    border-radius: 2px;
    transition: 1s;
    cursor: pointer;
}

.titlebar-container .menu:hover {
    background: var(--background);
}